.bg{
    background-image:url("../image/images.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    padding-top:4rem;
    min-height: 70vh;
    border-width:10px;

 
   
}




    




